name: pipeline CI/CD MLOps

on:
  pull_request:
    branches: [ main, dev]
jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - name: Check repository
        uses: actions/checkout@v4
      
      - name: SetUp Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11.9'  
      - name: Install requirements
        run: pip install -r ./python/credit-scoring/requirements.txt
      - name: Install pytest
        run: pip install pytest
      - name: Run tests
        run: pytest ./python/credit-scoring/src/test/test_model_creation.py
        
